
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">

    <nav class="navbar bg-body-tertiary">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="~/dino.jpg" alt="fantacy recipe" width="50" height="60">
        </a>
      </div>
    </nav>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="">@Html.ActionLink("Account", "Index", "Account")</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            View
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/Treats">Treats</a></li>
            <li><a class="dropdown-item" href="/Flavors">Flavors</a></li>

            <li><a class="dropdown-item" href="/Treats/MyTreats">My Treats</a></li>

            <li><a class="dropdown-item" href="/Flavors/MyFlavors">My Flavors</a></li>
          </ul>
        </li>

      </ul>

      <!-- <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->

    </div>
  </div>
</nav>
